examples/example-logg.json
[
  {
    "id": "a4faeba9429bd92d",
    "type": "tab",
    "label": "Data logging",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7ae73bf3c4b1b817",
    "type": "logger",
    "z": "a4faeba9429bd92d",
    "trendID": "7ae73bf3c4b1b817",
    "logsize": 60,
    "name": "Timestamp",
    "configuration": "4ec688a8f44460f2",
    "logsizeType": "num",
    "x": 850,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "b5c545887455655f",
    "type": "inject",
    "z": "a4faeba9429bd92d",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 450,
    "y": 80,
    "wires": [
      [
        "0ec37680119cbe0d"
      ]
    ]
  },
  {
    "id": "0ec37680119cbe0d",
    "type": "rbe",
    "z": "a4faeba9429bd92d",
    "name": "",
    "func": "rbei",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 630,
    "y": 80,
    "wires": [
      [
        "7ae73bf3c4b1b817"
      ]
    ]
  },
  {
    "id": "4ec688a8f44460f2",
    "type": "SQL-DB",
    "name": "SQL-LIte",
    "path": "/home/pi/mydb.db",
    "trend_table": "trend",
    "data_table": "data"
  }
]